@import './styles/aether.css';
@import './styles/responsive.css';
@import './styles/realms.css';
@import "tailwindcss";

.scrollbar-none::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.scrollbar-none,
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.preserve-3d { transform-style: preserve-3d; } .perspective-1000 { perspective: 1000px; } .backface-hidden { backface-visibility: hidden; }
